body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 10px;
}

.header-content .logo {
  width: 100px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.member {
  position: relative;
  text-align: center;
}

.member img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  border: 3px solid transparent;
}

.member:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #000;
}

.details {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.font-buttons {
  text-align: center;
  margin-top: 40px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.font-smaller {
  font-size: 0.9em;
}

.font-larger {
  font-size: 1.1em;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-logo {
  width: 50px;
  margin-bottom: 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
}
