@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    
    background-image: url(../images/loginBaground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
   
}

.container {

    margin: 250px auto;
    
    width: 600px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    gap: 20px;
    background-color: rgba(251, 251, 251, 0.621);

    
    padding: 15px;
    border-radius: 30px;
}



h1 {
    margin-top: 0;
}
.input-box{
    margin: 20px;
}

.input-field{
    font-size: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #000000;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    padding-left: 20px;
}
.input-field::placeholder{
    color: #00000098;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 250, 250, 0.25);
}



.submit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 40%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 20px;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    color: #000;
}

