
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(185, 113, 176);
   
}

.title {
    color: rgb(255, 255, 255);
    background-color: rgb(20, 19, 19);
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.title div {
    font-size: 24px;
}


.detail {
    display: flex;
    color: rgb(255, 255, 255);
    height: 100px;
    margin: 10px;
    background-color: azure;
    color: black;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}


.content {
    text-align: center;
    margin: 20px;
    padding: 10px;
   
    border-radius: 5px;
   
}

.content .link a {
    text-decoration: solid;
    color: #ffffff;
}

.content .link a:hover {
    color: rgb(4, 129, 129);
}

.content div{
    margin-top: 30px;
}
